<nz-layout class="app_container">
  <nz-header>
    <div class="logo" nz-row nzType="flex" nzAlign="middle">
      <a routerLink="/">
        <img height="60" src="assets/logo.png" alt="logo">
      </a>
      <h3 nz-title>Yoga Board Munich</h3>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <nz-divider></nz-divider>
    <small>I've created this website as a final project of the <a target="_blank" href="https://cs50.harvard.edu/">CS50
      course at Harvard Universtiy</a>.</small>
    <nz-divider></nz-divider>
    Made with YOGI<span style="color: #4E1C1B;">&#9829;</span> in Munich
  </nz-footer>
</nz-layout>
