<nz-layout class="home__container" nz-row nzType="flex" nzAlign="middle" nzJustify="center">
  <img src="assets/logo.png" width="350">
  <div class="home__table">
    <nz-table #basicTable [nzData]="listOfDisplayData">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th
          nzShowSort
          nzSortKey="name">
          Name</th>
        <th
          nzShowSort
          nzSortKey="location">
          Location</th>
        <th
          nzShowSort
          nzSortKey="date">
          Date and Start Time</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.location }}</td>
        <td>{{ data.date | date: 'short'}}</td>
        <td>
          <a [routerLink]="'/details/' + data.id"> Details </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <button nz-button
          nzType="primary"
          [routerLink]="'/create'">
    <i nz-icon nzType="plus-circle" nzTheme="twotone" nzTwotoneColor="#4E1C1B"></i>
    <span nz-text nzType="secondary">Create own class</span></button>
</nz-layout>
